/* ФОРМА ДЛЯ НОВЫХ ЗАМЕТОК */
.wrapper-form {
  padding-top: 24px;
  min-height: 660px;
}
.wrapper-form-new-notes {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background-color: #FFFFFF;
  box-shadow:
    0px 8px 12px 0px rgba(11, 12, 13, 0.08),
    0px 16px 24px 0px rgba(11, 12, 13, 0.04);

  padding: 24px;
  max-height: 228px;
}

.wrapper-name-new-note {
  max-width: 344px;
  display: flex;
  flex-direction: column;

}
.wrapper-description-color-new-note {
  display: flex;
  gap: 24px;
}

.wrapper-description-new-note {
  display: flex;
  flex-direction: column;
  min-height: 108px;
}

.name-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #919191;
}
.text-label {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 6px 12px;
}
.big-field {
  height: 84px;
  width: 848px;
}
input::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: #919191;
  font-family: 'Montserrat', sans-serif;
  opacity: 1;
}

/* ЦВЕТА ЗАМЕТОК */
.wrapper-color-add-new-note {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.colors {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
.color-option-note {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.color-option-note.selected-color {
  border: 1.5px solid #457cdc;
}
.color-yellow {
  background-color: #f3db7d;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}
.color-green {
  background-color: #c2f37d;
    border-radius: 100%;
  height: 24px;
  width: 24px;
}
.color-blue {
  background-color: #7de1f3;
    border-radius: 100%;
  height: 24px;
  width: 24px;
}
.color-red {
  background-color: #f37d7d;
    border-radius: 100%;
  height: 24px;
  width: 24px;
}
.color-purple {
  background-color: #e77df3;
    border-radius: 100%;
  height: 24px;
  width: 24px;
}

/* КНОПКА ДЛЯ ДОБАВЛЕНИЯ ЗАМЕТОК */
.button-add-note {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 232px;
  border-radius: 10px;
  padding: 6px 24px;
  height: 36px;
  background-color: #457cdc;
}
.button-add {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.no-any-notes {
  margin-top: 138px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
}
