@media (max-width: 480px) {

   section .wrapper-form-new-notes { /*для повышения приоритета 0,1,0 + 0,0,1 */
    padding: 15px ;
    max-height: none ;
    height: auto ;
    width: 100% ;
  }

  #note-description::placeholder,
  #note-title::placeholder {
    font-size: 11px !important;
  }


  section .wrapper-description-color-new-note {
    display: flex ;
    flex-direction: column ;
    gap: 16px ;
  }
  .wrapper-description-new-note,
  .wrapper-color-add-new-note,
  .big-field,
  .button-add-note {
    width: 100% ;
    max-width: 100% ;
  }
  .big-field {
    height: 100px ;
  }

  .button-add-note {
    justify-content: center ;
  }

  .wrapper-notes-grid {
    flex-direction: column ;
  }
  .note-card {
    width: 100% ;
  }
}