/*сброс стилей*/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body{
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}